html{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #ffffff;
  background: repeating-linear-gradient(
    45deg,
    #a3fff7,
    #8afff5 2em,
    #cccccc 2em,
    #aaaaaa 4em
  );
}
.main-content {
  min-height: 100vh;
  padding: 1em;
  background: #454545;
  margin: 0 0 0 3em;
}
h1 {
  margin: 0 0 1em 0;
}
p {
  margin: 1em 0;
  font-size: 0.7em;
}
a.button, input.button {
  border: 1px solid #262626;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  background-color: #303030;
  color: #ffffff;
  box-shadow: 5px 5px 5px #101010;
}
a.button:hover {
  background-color: #000000;
  color: #ffffff;
}
a:link {
  color: #47eddf
}
a:visited {
  color: #47eddf
}
input {
  padding: 0.5em;
  font-size: 100%;
  background-color: 787878;
  color: #ffffff;
}
input.button {
  background-color: #00c7b6;
}
input[type=text], select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  border-style: inset;
  background-color: #787878;
  color: #ffffff;
}
input[type=color] {
  padding: 2px 2px;
  margin: 8px, 0px, 16px, 0px;
  border-style: inset;
  background-color: #787878;
}
table {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 0 0 2em 0;
}
table td, table th {
  padding: 0.25em;
  border: 1px solid #999999;
  padding: 0.5rem;
}
.spacer {
  margin: 3em 0;
}
