{% extends "base.html" %}
{% block content %}

<style>
  .cs1999-tasks {
    border-top: 1px solid black;
    margin-top: 4em;
  }
  .cs1999-tasks .task {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
  }
  .cs1999-tasks .task h2 {
    border-bottom: 3px solid gray;
  }

  * {box-sizing:border-box}

  .slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  h3 {
    text-align: center;
    color: #47eddf;
  }
  h2{
    color: #47eddf;
  }
  h2.top{
    text-align: center;
    color: #FFFFFF;
  }
  p.top {
    text-align: center;
  }

  .column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<h1>
  Buggy Editor
</h1>

<div class="slideshow">
  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="static/menu.gif" style="width:100%">
    <div class="caption">Main Menu</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="static/form.gif" style="width:90%">
    <div class="caption">Make a Buggy</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 4</div>
    <img src="static/see_buggies.gif" style="width:90%">
    <div class="caption">View Buggies</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 4</div>
    <img src="static/JSON.gif" style="width:90%">
    <div class="caption">Generated JSON</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<br><br><br>

<div class="row">
  <div class="column">
    <h3>Make your own buggy... </h3>
    <br><br><br>
    <p class="top">Simple, easy to use interface</p>
    <br>
    <p class="top">Visual representation of flags</p>
    <br>
    <p class="top">Buggies safely stored in a database</p>
  </div>
  <div class="column">
    <br><br><br><br><br><br>
    <p class="top">JSON automatically generated</p>
    <br>
    <p class="top">Easy to modify buggies</p>
    <br>
    <p class="top">Calculates the cost of your buggy</p>
    <br><br><br><br>
    <h3>...and compete in races </h3>
  </div>
</div>

<br><br>
<h2 class="top">Read about the production process below</h2>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>


<!-- -------------------------------------------------------------------------- -->


<section class="cs1999-tasks">

  <div class="task">
    <h2>0-GET: Get the source code</h2>
    <p>
      I forked the repo on GitHub and then, through git bash, used <code>git clone</code> to make a local copy.
    </p>
    <p>
      Once the repo was on my own machine, I started work on the other tasks. After finishing each task, I would push the changes up to github.
      I would also push changes up before a task was complete, if I needed to work on it on my laptop instead of my PC. These always had a commit
      message starting with "WIP", meaning "work in progress".
    </p>
  </div>

  <div class="task">
    <h2>0-RUN: Get the app running and view it in a browser</h2>
    <p>
      I initialised the database with the command <code>py init_db.py</code>, and started the webserver with <code>py app.py</code> in git bash.
    </p>
    <p>
      Before I could do the above though, I had to install the python libraries, with the use of <code>pip install -r requirements.txt</code>.
      After this, I could initialise the database, and from then on, use <code>py app.py</code> to start the webserver. After it had been started,
      the webserver could be accessed through a browser using the link "localhost:5000".
    </p>
  </div>

  <div class="task">
    <h2>0-CHANGE: Make a change to a template and see it appear</h2>
    <p>
      I changed the title of the buggy editor from "My buggy editor" to "Buggy Editor".
    </p>
    <p>
      In this task, I started to explore the directories in the project. I worked out what file does what, and hence where to change particular things.
      Following the suggestion in the advice video for 0-Change, I changed the title, refreshed the page in chrome, and watched the change appear.
    </p>
  </div>

  <div class="task">
    <h2>1-ADD: Add more data to the form</h2>
    <p>
      Here, I added primary and secondary flag colours, as well as the flag pattern, as these were already in the database.
    </p>
    <p>
      In order to do this, I had to add labels and inputs to the form in <code>buggy-form.html</code>, get the form data in the <code>/new</code> route in app.py using
      <code>variable_name = request.form['variable_name']</code>, then add the newly fetched inputs into the SQL statements. This way the results would
      be saved in the database. To then display this new data when viewing your buggies, I had to add more rows to the table, and retrieve the new data
      from the database.
    </p>
    <p>
      When I got to adding data that wasn't already in the database, I had to add the identifier, and it's data type to the table to be created in
      <code>init_db.py</code>, as well as add the variables to the SQL statements and the form. To see these changes, the database had to be
      deleted and re-initialised (using <code>py init_db.py</code>) so that the database would have these new rows.
    </p>
  </div>

  <div class="task">
    <h2>1-VALID: Add basic data validation</h2>
    <p>
      I added an <code>if</code> statement to check that the data received from <code>qty_wheels</code> is a number.
    </p>
    <p>
      After taking the input data from the form in <code>/new</code> (in <code>app.py</code>), I wrote an <code>if</code> statement using <code>isdigit()</code> to check that the input was valid.
      If it was not, I gave an appropriate error message to the msg variable, and returned the user to the page with the form, along with that message.
      For inputs like colour, I changed the input type from "text" to "color", so that the user can pick a colour in a more user friendly way than
      typing a hex code or colour name. This also prevents the need for the validation to distinguish between which colour names are allowed in CSS,
      or whether a valid hex code had been entered.
    </p>
  </div>

  <div class="task">
    <h2>1-STYLE: Style your editor just how you like it</h2>
    <p>
      In <code>app.css</code>, I changed the hex codes to have a colour scheme that I wanted. I chose grey and light-turquoise.
    </p>
    <p>
      I changed the hazard strip on the left hand side to be grey and turquoise. By adding two different shades of grey and turquoise, I created a
      fade, rather than having two block colours. I also changed the background to grey, and the buttons to a darker grey with black shadow and turquoise
      text. When you hover over the buttons, they change to black with white text. I also changed the link colour to turquoise. In the form, I changed the
      length of the input boxes to spread across the entire screen to make it look neater.
    </p>
  </div>

  <div class="task">
    <h2>2-EDIT: Edit the record by loading its current values into the form</h2>
    <p>
      Using <code>value=</code> inside the input tags in the form allows the text box to be populated with a value.
    </p>
    <p>
      In order to allow the text boxes to be populated with data from the database, as opposed to with arbitrary values, I copied the code to
      <code>/new</code> from <code>/buggy</code> that connects to the database and gets the values from it. This way, I could retrieve the actual
      stored values and display them in the form.
    </p>
    <p>
      For the <code>select</code> tags, I embedded an <code>if</code> statement in each <code>option</code> tag that worked out if that option was the one
      currently stored in the database. If it was, then that was the option that was selected by default when viewing that page.
    </p>
  </div>

  <div class="task">
    <h2>2-FORM: Make the form better</h2>
    <p>
      Most of this task (in terms of layout), I had completed in task 1-Style through CSS changes.
    </p>
    <p>
      In 1-Style, I had changed the length of the input boxes to fit the screen, which meant they were all on individual lines. On top of this, however,
      I also added <code>paragraph</code> tags with descriptions of each input to make it clear what the user should enter in each box.
    </p>
  </div>

  <div class="task">
    <h2>2-COST: Calculate and save the game cost of the buggy</h2>
    <p>
      My solution to this task was to add text files for python to read.
    </p>
    <p>
      I considered adding another database table, as I have worked with SQLite before, however, considering that, for example, armour and attack categories
      both have a "None" option, it would be sensible to put each category into a separate table, which would take a lot of time and SQL. Hence, I
      opted for text files. These are easy to edit should the costs change, and it is easy to read, store the values in a dictionary, and consequently
      calculate the buggy cost. I chose to display the cost on the <code>updated.html</code> page, as I could not see a way to calculate the costs without the data
      from the form, and therefore the form had to be submitted first.
    </p>
  </div>

  <div class="task">
    <h2>2-RULES: Add validation according to the game rules</h2>
    <p>
      This is implementing more validation on the data, in order to stop a buggy being created that could not be entered into a race.
    </p>
    <p>
      By using another <code>if</code> statement in <code>/new</code>, taking the value entered for <code>qty_wheels</code>, and performing modulus of 2 on it,
      you can tell if a number is odd, as an odd number won't have an answer of 0. This allows another error message to be sent back, along with
      redirecting the user to <code>buggy-form.html</code>.
    </p>
    <p>
      In order to make sure that the number of tyres is the same as the number of wheels, I did not put the number of tyres in the form - only the
      tyre type. I then set the number of tyres equal to the number of wheels in <code>/new</code> to prevent the user from being able to mess it up.
    </p>
  </div>

  <div class="task">
    <h2>3-MULTI: Allow different buggies to be created</h2>
    <p>
      In this task, I added the ability for the user to create new buggies, or edit ones they've already created.
    </p>
    <p>
      As the default SQL statement was an <code>UPDATE</code> statement, and task 2-Edit meant that the form had the current values, then this
      is what should happen when you edit a buggy. I added an edit button under the table in <code>buggy.html</code> that leads through
      a <code>/edit/id</code> route, then directs the user to <code>buggy-form.html</code>, after selecting only the buggy in the table with the
      buggy ID that was sent.
    </p>
    <p>
      Then, to actually add new buggies, I used an <code>INSERT INTO</code> SQL statement. When making a new buggy, you go through the
      <code>/new</code> route, where, when rendering the template <code>buggy-form.html</code>, the buggy is set to "None", meaning there are no
      buggies selected, and no default values to populate the form with. When you go through <code>/edit</code>, <code>buggy-form.html</code> is rendered with the selected
      buggy, and so the current values are shown. Then in <code>/new</code>, if there is a known buggy ID, the <code>UPDATE</code> statement is executed,
      otherwise the <code>INSERT INTO</code> statement is executed.
    </p>
  </div>

  <div class="task">
    <h2>3-DEL: Allow buggies to be deleted</h2>
    <p>
      Here, I added a second button next to the edit button in <code>buggy.html</code> that read "Delete".
    </p>
    <p>
      This button lead to the <code>/delete/id</code> route, which executed an SQL <code>DELETE</code> statement, deleting the buggy from the database
      with the ID that was sent. In order to send this as a <code>POST</code> request, however, the delete button had to be inside a form. Otherwise
      the request would have been sent as a <code>GET</code> request.
    </p>
    <p>
      Defining the <code>/delete</code> route simply as <code>POST</code> method without the delete button being in a form would create this error: "This method
      is not allowed for the requested URL", as it would still be trying to send the request as a <code>GET</code> request, which hadn't been defined.
    </p>
  </div>

  <div class="task">
    <h2>3-FLAG: Display the pennant graphically</h2>
    <p>
      For this task, I opted to use a javascript canvas, embedded with the <code>script</code> tags.
    </p>
    <p>
      I put the graphical flag representation in <code>buggy.html</code>, as it made sense to view it along with the other data for the buggies that
      had been created. I considered having the flag displayed as it was being created, but ran into the same problem as with 2-Cost, where I could
      not display the flag without having the hex codes for the colours that the user had chosen, which required the form to have been submitted.
    </p>
    <p>
      To complete the graphical representation, I put a canvas at the bottom of the table, so it would be repeated for each buggy. Then, using
      <code>script</code> tags, I drew shapes on the canvas, using divisions of the height and width as opposed to pixel numbers, to allow the canvas to work on different sized
      displays. I filled the background with the primary colour, and then used the secondary colour to draw the shapes. The shapes I drew depended
      on which pattern had been chosen, and so an <code>if</code> statement determined this. I found the checkered flag took a long time to work out the
      mechanics with the <code>for</code> loop and translations of a single square. I also initially had an issue, because I had defined the canvas as a constant
      (<code>const</code>), which meant it would only display one flag if there were multiple buggies. This was fixed by defining it as a variable
      (<code>var</code>).
    </p>
  </div>


<!-- this closes the section: keep it in! -->
</section>

{% endblock %}
